:root {
	--white: #fff;
	--green: #54aa54;
	--greenDark: color(var(--green) blackness(20%));
	--gray: #cecece;
	--yellow: #ffd408;
	--yellowDark: color(var(--yellow) blackness(30%));
	--dark: #555;
}
