﻿.root {
    width: 1150px;
    height: 320px;
	display: block;
}

.root :global(button) {
    border: none;
    width: 90px;
    height: 75px;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 35px;
}

.root :global(button[data-value=bksp]) {
    border: none;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-image: url(js/components/FullKeyboard/images/backspace.png);
}

.root :global(button[data-value=shift]) {
    border: none;
    height: 155px;
    background-position-y: 0;
    background-image: url(js/components/FullKeyboard/images/shift.png);
}

.root:global(.layout-en-shift button[data-value=shift]) {
    background-position-x: 90px;
}

.root :global(button[data-value=space]) {
    width: 470px;
}

.root :global(button[data-value=num]) {
    width: 185px;
}

.root.dark-theme :global(button) {
    background-color: rgba(199, 199, 199, 0.7);
    color: #fff;
}

.root.dark-theme :global(button:active) {
    background-color: #d8d8d8;
}

.root.light-theme :global(button) {
    background-color: rgba(199, 199, 199, 0.7);
    color: #000;
}

.root.light-theme :global(button:active) {
    background-color: #eee;
}

.root.dark-theme:global(.layout-en-normal button[data-value=shift]),
.root.dark-theme:global(.layout-ru-normal button[data-value=shift]),
.root.dark-theme:global(.layout-num button[data-value=shift]) {
    background-position-y: -172px;
}

.root.dark-theme:global(.layout-en-shift button[data-value=shift]),
.root.dark-theme:global(.layout-ru-shift button[data-value=shift]) {
    background-position-y: -172px;
    background-position-x: 93px;
}

.root.dark-theme :global(button[data-value=bksp]) {
    background-position-y: -81px;
}
