﻿.input {
    border: 2px solid black;
    position: relative;
    width: 600px;
    height: 50px;
    padding: 5px 15px;
    outline: none;
    font-size: 42px;
    outline-width: 0;
    overflow: hidden;
}

.contenteditableFalse {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.input.invalid {
    border-color: red;
}

.input ~ span.value {
    display: block;
    padding: 5px 15px;
    width: 400px;
    height: 25px;
    margin-bottom: 50px;
    color: lightgray;
}

span.title {
    font-size: 20px;
    color: lightgray;
}

.watermark-options {
    color: deepskyblue;
}

.watermark::before {
    content: 'placeholder through styles';
    color: lightpink;
}

.ghost {
    color: #b8b8b8;
}

.container.new > div {
    padding: 30px;
    position: relative;
}

.container.new > div + div {
    border-top: 2px solid lightgray;
    margin-top: 120px;
}

.input.watermarkOptions {
    color: deepskyblue;
}

.input.watermark {
    /* Скрываем курсор */
    color: transparent;
}

.input.watermark::before {
    content: 'placeholder through styles';
    color: lightpink;
}