@import '../../../css/common/variables/fonts.css';

.header {
	position: relative;
	display: flex;
	margin: 0 auto;
	padding: 10px 0;
	max-width: 1000px;
	height: 80px;
	text-align: center;
	justify-content: center;
	align-items: center;

	&__logo {
		position: absolute;
		left: 0;
		padding: 0 10px;
		width: 80px;
	}

	&__name {
		font-size: 18px;
		font-family: var(--playfair-display-italic);
	}
}
