﻿.root.theme-dark {
    border: none;
    color: white;
}

.root.theme-dark::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
    border-radius: 7px;
}

.root.theme-dark .ghost,
.root.theme-dark .not-editable {
    color: #b1b0ae;
}
