﻿@import './InputField.theme-dark.css';
@import './InputField.theme-white.css';

.root {
    position: relative;
    width: 540px;
    height: 100px;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    font-size: 36px;
}
