@import '../../../css/common/variables/colors.css';

.menu {
	position: relative;
	display: flex;
	margin: 0 auto;
	padding: 10px;
	max-width: 1000px;
	height: 80px;
	text-align: center;
	justify-content: center;
	align-items: center;

	&__item {
		color: var(--greenDark);
		cursor: pointer;

		&:hover {
			color: var(--green);
		}
	}
}
