@import '../../../css/common/variables/colors.css';

.form {
	text-align: center;
	padding: 20px;
	background: var(--yellow);
	border: 2px solid var(--yellowDark);
	border-radius: 10px;
	word-wrap: normal;

	&__wrap {
		background: var(--gray);
		border: 2px solid var(--dark);
		padding: 10px;
	}

	&__button {
		color: var(--dark);
		cursor: pointer;
	}

	&__input {
		background: #ffe;
	}
}
