﻿.root {
    padding: 0;
    margin: 0;
    list-style: none;
    letter-spacing: 0; /* чтобы не было дополнительных марджинов в inline-block элементах */
    word-spacing: 0;
}

.root :global(button) {
    width: 80px;
    background-color: #9b9b9b;
    display: inline-block;
    line-height: 75px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    margin: 0 10px 10px 0;
    position: relative;
}

.root :global(button:focus) {
    outline: none;
}

.root :global(button[data-value=space]) {
    width: 440px;

    background-color: #099;
    text-indent: -9999px;
}

.root :global(button[data-value=num]) {
    width: 170px;

    background-color: #712f86;
}

.root :global(button[data-value=bksp]) {
    background-image: url('./images/in_btn_backspace.png');
    text-indent: -9999px;
}

.root :global(button[data-value=shift]) {
    height: 170px;
    background-image: url('./images/ip_btn_shift.png');
    float: left;
    text-indent: -9999px;
}

.root :global(button[data-value=lang]) {
    background-color: #712f86;
}
