﻿

.root.theme-dark :global(button) {
    color: white;
}

.root.theme-dark :global(button:active) {
    color: black;
    background-color: #d8d8d8;
}

.root.theme-dark :global(button[data-value=bksp]) {
    background-position-y: -69px;
}

.root.theme-dark :global(button[data-value=bksp]:active) {
    background-position-y: 12px;
}