﻿@import './NumericKeyboard.theme-dark.css';
@import './NumericKeyboard.theme-white.css';

.root {
    width: 410px;
    height: 520px;
}

.root :global(button) {
    background-color: transparent;
    width: 110px;
    height: 110px;
    font-size: 36px;
    border: 2px solid #d8d8d8;
    border-radius: 55px;
    margin: 0 25px 25px 0;
    cursor: pointer;
    box-sizing: border-box;
}

.root :global(button[data-value=bksp]) {
    background-position-x: 35%;
    background-repeat: no-repeat;
    background-image: url(../images/backspace.png) !important;
}

